.tile {
    display: inline-flex;
    background-image: url('./grass.png');
    background-color: green;
    text-indent: -9999px;    
}

.grass {
    background-image: url('./grass.png');
    /* background-color: rgb(7, 240, 248); */
}

.grass-2 {
    background-image: url('./grass2.png');
}

.rock {
    background-image: url('./rock.png');
    /* background-color: grey; */
}

.tree{
    background-image: url('./tree.png');
}