html {
    background-image: url('https://i.imgur.com/TZvhB5Z.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
}

ul {
    list-style-type : none;
    margin : 0;
    padding : 0;
    overflow : hidden;
    background-color : whitesmoke;
}

li {
    float : left;
}

li a {
    display : block;
    color : black;
    text-align : center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color : yellowgreen;
}

.active {
    background-color : yellow;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right : none;
}

